.card {
  margin-top: 4.625rem;
  background-color: var(--white);
  border-radius: 10px;
  width: 327px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  position: relative;
}

.hero-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text-container {
  margin: 2.25rem 2rem 0;
}

.tag-line {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--very-dark-grey-blue);
}

.description {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: var(--grey);
}

@media (min-width: 1024px) {
  .card {
    margin-top: 16.25rem;
    display: flex;
    width: 730px;
  }

  .hero-img {
    width: 285px;
    height: 280px;
    border-radius: 10px 0 0 10px;
  }

  .tag-line {
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0.25px;
  }

  .description {
    margin-bottom: 1.25rem;
  }

  .social-widget {
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
    background-color: var(--very-dark-grey-blue);
    width: 248px;
    border-radius: 10px;
    padding: 0.5rem 2.25rem 1.063rem;
    position: absolute;
    top: 129px;
    left: 550px;
  }

  .social-widget:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -3.125rem;
    width: 0;
    height: 0;
    border-top: solid 10px var(--very-dark-grey-blue);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
}
