*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grey-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --greyish-blue: #9eafc2;
  --light-greyish-blue: #ecf2f8;
  --grey: #6e8098;
  --white: #fff;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-greyish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
